@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,600&family=Raleway:ital,wght@0,300;0,400;0,500;0,800;0,900;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif; }
  body header {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), color-stop(59%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("/images/hero2.jpg") no-repeat;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0) 100%), url("/images/hero2.jpg") no-repeat;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 120vh; }
    body header nav {
      margin: 0 9rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      body header nav .logo {
        width: 18rem;
        height: 4.5rem;
        margin-top: 0.5rem; }
        body header nav .logo img {
          width: 100%; }
      body header nav ul {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        font-size: 1.5rem; }
        body header nav ul a:not(last-child) {
          text-decoration: none;
          color: #fff;
          padding: 2rem 1.5rem;
          font-weight: 500;
          text-transform: uppercase;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          body header nav ul a:not(last-child):hover {
            color: #f56960; }
          body header nav ul a:not(last-child):last-child {
            background-color: #f56960;
            margin-top: 1rem;
            padding: 1rem 2.4rem;
            text-align: center;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            margin-bottom: 1.5rem;
            margin-left: 2rem;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear; }
            body header nav ul a:not(last-child):last-child:hover {
              background-color: #2c75ba;
              color: #fff; }
            body header nav ul a:not(last-child):last-child li {
              text-align: center; }
    body header .showcase {
      margin: 0 auto;
      width: 95rem;
      color: #fff;
      padding-top: 15rem;
      text-align: center; }
      body header .showcase-title {
        text-align: center;
        font-stretch: 50%;
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        line-height: 1;
        font-size: 8rem;
        text-transform: uppercase;
        padding: 1.5rem;
        margin-bottom: 3rem; }
      body header .showcase p {
        font-family: "Open Sans", sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 4.5rem;
        padding: 0 3rem; }
      body header .showcase a {
        background-color: #f56960;
        text-align: center;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        body header .showcase a:hover {
          background: #2c75ba; }
  body .booking {
    margin: 0 9rem;
    height: 18rem;
    background-color: #fff;
    margin: -10rem 9rem 5rem 9rem;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0 0.7rem 2.9rem 0;
            box-shadow: rgba(100, 100, 111, 0.2) 0 0.7rem 2.9rem 0; }
    body .booking form {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
      padding: 4rem 2rem; }
    body .booking .group {
      font-family: "Open Sans", sans-serif;
      display: inline-block;
      margin-right: 1rem;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      max-width: 21.2rem; }
      body .booking .group label {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 1rem; }
      body .booking .group input {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        outline: none;
        border-radius: 0.5rem;
        height: 5rem;
        border: none;
        background-color: #f8f8f8; }
        body .booking .group input[type='date']::-webkit-input-placeholder {
          color: blue;
          text-transform: uppercase; }
        body .booking .group input[type='date']:-ms-input-placeholder {
          color: blue;
          text-transform: uppercase; }
        body .booking .group input[type='date']::-ms-input-placeholder {
          color: blue;
          text-transform: uppercase; }
        body .booking .group input[type='date']::placeholder {
          color: blue;
          text-transform: uppercase; }
    body .booking button {
      padding: 0 2.4rem;
      background-color: #f56960;
      color: #fff;
      font-size: 1.5rem;
      max-width: 21.2rem;
      height: 5rem;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      border: none;
      outline: none;
      margin-top: 2.3rem;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      body .booking button:hover {
        background-color: #2c75ba;
        cursor: pointer; }
  body .destination .destination-container {
    margin: 0 9rem 3rem 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    body .destination .destination-container .title {
      width: 60%;
      font-family: "Raleway", sans-serif; }
      body .destination .destination-container .title span {
        position: relative;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        text-align: center;
        display: inline-block;
        width: 7rem;
        height: 0.2rem;
        background-color: #f56960;
        margin-right: 1rem; }
        body .destination .destination-container .title span hr {
          position: absolute;
          top: -60%;
          display: inline-block;
          width: 100%;
          height: 100%;
          outline: none;
          border: none; }
      body .destination .destination-container .title h5 {
        color: #f56960;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 2.2rem; }
      body .destination .destination-container .title h2 {
        color: #101f46;
        text-transform: uppercase;
        font-size: 4.8rem; }
    body .destination .destination-container .content {
      margin-top: 3rem;
      width: 40%; }
      body .destination .destination-container .content p {
        font-size: 1.5rem; }
  body .countries .count-container {
    margin: 0 9rem;
    height: 55rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 30% 40%;
        grid-template-columns: 30% 30% 40%;
    grid-gap: 1rem; }
    body .countries .count-container .count-1 {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1/3; }
      body .countries .count-container .count-1 .country-container {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), color-stop(59%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("/images/hero3.jpg") no-repeat;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0) 100%), url("/images/hero3.jpg") no-repeat; }
    body .countries .count-container .count-2 {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1/3; }
      body .countries .count-container .count-2 .country-container {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), color-stop(59%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("/images/hero1.jpg") no-repeat;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0) 100%), url("/images/hero1.jpg") no-repeat; }
    body .countries .count-container .count-3 .country-container {
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), color-stop(59%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("/images/hero.jpg") no-repeat;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0) 100%), url("/images/hero.jpg") no-repeat; }
    body .countries .count-container .count-4 {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      grid-column: 3/4; }
      body .countries .count-container .count-4 .country-container {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), color-stop(59%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("/images/hero3.jpg") no-repeat;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0) 100%), url("/images/hero3.jpg") no-repeat; }
    body .countries .count-container .country {
      width: 100%;
      background-color: #fff;
      -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0 0.7rem 2.9rem 0;
              box-shadow: rgba(100, 100, 111, 0.2) 0 0.7rem 2.9rem 0;
      padding: 1rem; }
      body .countries .count-container .country .country-container {
        position: relative;
        padding: 3rem 2rem;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
        body .countries .count-container .country .country-container .location a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-size: 1.5rem;
          padding: 1rem 2.4rem;
          background-color: #2c75ba;
          font-weight: 600;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          body .countries .count-container .country .country-container .location a:hover {
            background-color: #f56960; }
        body .countries .count-container .country .country-container .down {
          position: absolute;
          bottom: 5%; }
          body .countries .count-container .country .country-container .down a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 2.3rem;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            font-weight: 600; }
            body .countries .count-container .country .country-container .down a:hover {
              color: #f56960; }
          body .countries .count-container .country .country-container .down span {
            color: #fff; }
  body .countries .more-destinations {
    margin: 5rem 0;
    text-align: center; }
    body .countries .more-destinations a {
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
      background-color: #f56960;
      padding: 1rem 2.4rem;
      text-transform: uppercase;
      font-weight: 500;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      body .countries .more-destinations a:hover {
        background-color: #2c75ba; }
  body .button {
    padding: 1rem 3rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    body .button:hover {
      background: #2c75ba; }
