@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,600&family=Raleway:ital,wght@0,300;0,400;0,500;0,800;0,900;1,600&display=swap');

//Variables
$heading-font: 'Raleway', sans-serif;
$content-font: 'Open Sans', sans-serif;
$secondary-color: #2c75ba;
$primary-color: #f56960;
$tertiary-color: #101f46;
$white-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $content-font;
  header {
    // background-image: url('../images/hero.jpg');
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0) 59%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('/images/hero2.jpg') no-repeat;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 120vh;

    nav {
      margin: 0 9rem;
      display: flex;
      justify-content: space-between;

      .logo {
        width: 18rem;
        height: 4.5rem;
        // background-image: url('/images/logo.png');
        margin-top: 0.5rem;

        img {
          width: 100%;
        }
      }

      ul {
        list-style: none;
        display: flex;
        text-align: center;
        font-size: 1.5rem;

        a:not(last-child) {
          text-decoration: none;
          color: $white-color;
          padding: 2rem 1.5rem;
          // font-size: 1.5rem;
          font-weight: 500;
          text-transform: uppercase;
          transition: all 0.2s linear;

          &:hover {
            color: $primary-color;
          }

          &:last-child {
            background-color: $primary-color;
            margin-top: 1rem;
            padding: 1rem 2.4rem;
            text-align: center;
            align-self: center;
            margin-bottom: 1.5rem;
            margin-left: 2rem;
            transition: all 0.2s linear;

            &:hover {
              background-color: $secondary-color;
              color: $white-color;
            }

            li {
              text-align: center;
            }
          }
        }
      }
    }

    .showcase {
      margin: 0 auto;
      width: 95rem;
      color: $white-color;
      padding-top: 15rem;
      text-align: center;

      &-title {
        text-align: center;
        font-stretch: 50%;
        font-family: $heading-font;
        font-weight: 900;
        line-height: 1;
        font-size: 8rem;
        text-transform: uppercase;
        padding: 1.5rem;
        margin-bottom: 3rem;
      }

      p {
        font-family: $content-font;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 4.5rem;
        padding: 0 3rem;
      }

      a {
        background-color: $primary-color;
        text-align: center;
        transition: all 0.2s linear;

        &:hover {
          background: $secondary-color;
        }
      }
    }
  }

  .booking {
    // width: 100%;
    margin: 0 9rem;
    height: 18rem;
    background-color: $white-color;
    margin: -10rem 9rem 5rem 9rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0 0.7rem 2.9rem 0;

    form {
      align-items: center;
      display: flex;
      justify-content: space-between;
      // border: 1px solid black;
      width: 100%;
      padding: 4rem 2rem;
    }

    .group {
      font-family: $content-font;
      display: inline-block;
      margin-right: 1rem;
      // padding: 2rem 0rem 2.5rem 1.5rem;
      align-self: center;
      max-width: 21.2rem;
      // width: 18% !important;

      label {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      input {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        outline: none;
        border-radius: 0.5rem;
        height: 5rem;
        border: none;
        background-color: #f8f8f8;

        &[type='date']::placeholder {
          color: blue;
          text-transform: uppercase;
        }
      }
    }
    button {
      padding: 0 2.4rem;
      background-color: $primary-color;
      color: $white-color;
      font-size: 1.5rem;
      // width: 18rem;
      max-width: 21.2rem;

      height: 5rem;
      align-self: center;
      border: none;
      outline: none;
      // margin: 2.3rem 0 0 0;
      margin-top: 2.3rem;
      transition: all 0.2s linear;

      &:hover {
        background-color: $secondary-color;
        cursor: pointer;
      }
    }
  }

  .destination {
    .destination-container {
      margin: 0 9rem 3rem 9rem;
      display: flex;
      justify-content: space-between;

      .title {
        width: 60%;
        font-family: $heading-font;
        span {
          position: relative;
          align-self: center;
          text-align: center;
          display: inline-block;
          width: 7rem;
          height: 0.2rem;
          background-color: $primary-color;
          margin-right: 1rem;

          hr {
            position: absolute;
            top: -60%;
            display: inline-block;
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
          }
        }

        h5 {
          color: $primary-color;
          text-transform: uppercase;
          font-size: 1.5rem;
          margin-bottom: 2.2rem;
        }

        h2 {
          color: $tertiary-color;
          text-transform: uppercase;
          font-size: 4.8rem;
        }
      }

      .content {
        margin-top: 3rem;
        width: 40%;
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .button {
    padding: 1rem 3rem;
    text-transform: uppercase;
    color: $white-color;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.2s linear;

    &:hover {
      background: $secondary-color;
    }
  }
}
